In [ ]:
class Employee:
  name = "Sri Hari"
  salary = 89384.34

In [ ]:
Employee.name

'Sri Hari'

In [ ]:
Employee.salary

89384.34

In [ ]:
# Encapsulation: wrapping the data members along with it's data handlers (setter/getter)is called Encapsulation

In [ ]:
# variables - based on scope

x = 100 # global

def test():
  y = 200 # can accessed inside test() function only - local variable
  print(y)

In [ ]:
x

100

In [ ]:
y

NameError: name 'y' is not defined

In [ ]:
class Test:
  # static variables
  a = 10
  b = 20

  def __init__(self):
    # instance variables
    self.x = 100
    self.y = 200

  def check(self):
    z = 1000 # local
    print(z)
    print(Test.a)
    print(Test.b)

In [ ]:
Test.a

10

In [ ]:
Test.b

20

In [ ]:
t = Test()

In [ ]:
t.x

100

In [ ]:
t.y

200

In [ ]:
t.a

10

In [ ]:
t.b

20

In [ ]:
t.check()

1000
10
20

In [ ]:
class Test:
  # static variables - all are public access
  a = 100
  b = 200
  c = 300

In [ ]:
print(Test.a, Test.b, Test.c)

100 200 300

In [ ]:
class Test:
  # static variables
  a = 100 # public - can access
  _b = 200 # protected - can access.
  __c = 300 # private - can be accessed only inside of a class, outside can't accessed.

  @staticmethod
  def check_private():
    print(Test.__c)

In [ ]:
Test.a

100

In [ ]:
Test._b

200

In [ ]:
Test.__c

AttributeError: type object 'Test' has no attribute '__c'

In [ ]:
Test.check_private()

300

In [ ]:
Test.a # get

100

In [ ]:
Test.a = 1000 # set

In [ ]:
Test.a

1000

In [ ]:
class Employee:
  def __init__(self, name, salary):
    self.name = name
    self.__salary = salary

In [ ]:
emp1 = Employee('Sri Ram', 90459)

In [ ]:
emp1.name

'Sri Ram'

In [ ]:
emp1.__salary

AttributeError: 'Employee' object has no attribute '__salary'

In [ ]:
class Employee:
  def __init__(self, name, salary):
    # instance variable
    self.name = name
    self.__salary = salary # private

  def get_salary(self): # getter
    return self.__salary

In [ ]:
emp2 = Employee("Hanuman", 200000)

In [ ]:
emp2.name

'Hanuman'

In [ ]:
emp2.get_salary()

200000

In [ ]:
class Employee:
  def __init__(self, name, salary):
    # instance variable
    self.name = name
    self.__salary = salary # private

  def get_salary(self): # getter
    return self.__salary

  def set_salary(self, salary): # setter
    self.__salary = salary

In [ ]:
emp2 = Employee("Hanuman", 200000)

In [ ]:
emp2.get_salary()

200000

In [ ]:
emp2.set_salary(220000)

In [ ]:
emp2.get_salary()

220000

# programs

In [ ]:
# take a input from user as a string, (numbers with space or comma separated) and sort them with out inbuilt functions

In [ ]:
user_input = "10, 23, 7, 99, 77, 33"
# op = [7, 10, 23, 33, 77, 99]

In [ ]:
user_input

'10, 23, 7, 99, 77, 33'

In [ ]:
for char in user_input:
  print(char, end=',')

1,0,,, ,2,3,,, ,7,,, ,9,9,,, ,7,7,,, ,3,3,

In [ ]:
list_values = user_input.split(',')
list_values

['10', ' 23', ' 7', ' 99', ' 77', ' 33']

In [ ]:
nums = []
for val in list_values:
  nums.append(int(val))

# nums = [int(val) for val in list_values]

In [ ]:
nums

[10, 23, 7, 99, 77, 33]

In [ ]:
nums.sort() # ascending

In [ ]:
nums

[7, 10, 23, 33, 77, 99]

In [ ]:
nums.sort(reverse=True) # decending

In [ ]:
nums

[99, 77, 33, 23, 10, 7]

In [ ]:
def ascending_order(nums):
  for i in range(len(nums)):
    for j in range(i+1, len(nums)):
      if nums[i] > nums[j]:
        # swapping
        nums[i], nums[j] = nums[j], nums[i]

  return nums

In [ ]:
arr = [13, 14, 15, 17, 18, 10, 19, 12, 16, 11]

In [ ]:
ascending_order(arr)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# swapping
a = 100
b = 200

In [ ]:
temp = b

In [ ]:
b = a

In [ ]:
b

100

In [ ]:
a

100

In [ ]:
temp

200

In [ ]:
a = temp

In [ ]:
a

200

In [ ]:
b

100

In [ ]:
print(a, b)

200 100

In [ ]:
a, b = b, a

In [ ]:
print(a, b)

100 200