In [1]:
# without enumeration
for i in range(100, 106):
  print(i)

100
101
102
103
104
105

In [2]:
# enumerate
for index, value in enumerate(range(100, 106)):
  print(f"{value} is present in {index} position")

100 is present in 0 position
101 is present in 1 position
102 is present in 2 position
103 is present in 3 position
104 is present in 4 position
105 is present in 5 position

In [3]:
for index, value in enumerate(range(100, 106), start=50):
  print(f"{value} is present in {index} position")

100 is present in 50 position
101 is present in 51 position
102 is present in 52 position
103 is present in 53 position
104 is present in 54 position
105 is present in 55 position

In [4]:
[1, 2, 3, 4, 1].index(1)

0

In [6]:
def func_name(*args):
  pass

In [ ]:
# lambda is also called as Anonymous functions
# anonymous - unidentified - noname

# lambda arg: expression

In [7]:
def add(a, b):
  return a+b

add(10, 20) # 30

30

In [8]:
a = lambda a,b: a+b # use: improve the readability and we can write very consice code.

In [9]:
a(10, 20)

30

In [10]:
s = lambda *args: sum(args)

In [11]:
s(10, 20, 30, 40, 50)

150

In [ ]:
# map - in-built python function, using map we can apply some functionality
# map(function, sequence) # returns a map object

In [13]:
nums = ["10", "5", "12", '20']

In [14]:
result = []
for num in nums:
  result.append(int(num))

result

[10, 5, 12, 20]

In [17]:
nums = list(map(int, nums))
nums

[10, 5, 12, 20]

In [18]:
list(map(lambda num: num+2, nums))

[12, 7, 14, 22]

In [20]:
# filter - using filter() you can filter the records
# filter(function, sequence)
numbers = list(range(1, 20))

In [22]:
even_nums = list(filter(lambda x: x%2 == 0, numbers))
even_nums

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [23]:
odd_nums = list(filter(lambda x: x%2 != 0, numbers))
odd_nums

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [26]:
# reduce - you can reduce a sequence elements to a single element i.e reduce()
from functools import reduce

# reduce(function, sequence)

In [24]:
sum(numbers)

190

In [27]:
reduce(lambda a, b: a+b, numbers)

190

In [28]:
reduce(lambda a, b: a*b, numbers)

121645100408832000